[Unit]
Description=periodic system reboot service
Requires=reboot.timer

[Service]
ExecStart=/usr/bin/systemctl --force reboot --when={{ os_cfg_reboot_variance | ansible.builtin.random(start=0, seed=inventory_hostname) }}s
Type=simple
User=root