LANG={{ os_default_system_locale }}
LANGUAGE="{{ os_default_system_locale }}"
LC_CTYPE="{{ os_default_system_locale }}"
LC_NUMERIC="{{ os_default_system_locale }}"
LC_TIME="{{ os_default_system_locale }}"
LC_COLLATE="{{ os_default_system_locale }}"
LC_MONETARY="{{ os_default_system_locale }}"
LC_MESSAGES="{{ os_default_system_locale }}"
LC_PAPER="{{ os_default_system_locale }}"
LC_NAME="{{ os_default_system_locale }}"
LC_ADDRESS="{{ os_default_system_locale }}"
LC_TELEPHONE="{{ os_default_system_locale }}"
LC_MEASUREMENT="{{ os_default_system_locale }}"
LC_IDENTIFICATION="{{ os_default_system_locale }}"
LC_ALL="{{ os_default_system_locale }}"
