LANG={{ debian_default_system_locale }}
LANGUAGE="{{ debian_default_system_locale }}"
LC_CTYPE="{{ debian_default_system_locale }}"
LC_NUMERIC="{{ debian_default_system_locale }}"
LC_TIME="{{ debian_default_system_locale }}"
LC_COLLATE="{{ debian_default_system_locale }}"
LC_MONETARY="{{ debian_default_system_locale }}"
LC_MESSAGES="{{ debian_default_system_locale }}"
LC_PAPER="{{ debian_default_system_locale }}"
LC_NAME="{{ debian_default_system_locale }}"
LC_ADDRESS="{{ debian_default_system_locale }}"
LC_TELEPHONE="{{ debian_default_system_locale }}"
LC_MEASUREMENT="{{ debian_default_system_locale }}"
LC_IDENTIFICATION="{{ debian_default_system_locale }}"
LC_ALL="{{ debian_default_system_locale }}"
