LANG={{ os_cfg_default_system_locale }}
LANGUAGE="{{ os_cfg_default_system_locale }}"
LC_CTYPE="{{ os_cfg_default_system_locale }}"
LC_NUMERIC="{{ os_cfg_default_system_locale }}"
LC_TIME="{{ os_cfg_default_system_locale }}"
LC_COLLATE="{{ os_cfg_default_system_locale }}"
LC_MONETARY="{{ os_cfg_default_system_locale }}"
LC_MESSAGES="{{ os_cfg_default_system_locale }}"
LC_PAPER="{{ os_cfg_default_system_locale }}"
LC_NAME="{{ os_cfg_default_system_locale }}"
LC_ADDRESS="{{ os_cfg_default_system_locale }}"
LC_TELEPHONE="{{ os_cfg_default_system_locale }}"
LC_MEASUREMENT="{{ os_cfg_default_system_locale }}"
LC_IDENTIFICATION="{{ os_cfg_default_system_locale }}"
LC_ALL="{{ os_cfg_default_system_locale }}"
